# Ignore node_modules directory
node_modules/

# Ignore Cypress binary cache
.cypress/

# Ignore generated videos and screenshots
cypress/videos/
cypress/screenshots/

# Ignore environment-specific configuration files
cypress/config/*

# Ignore Cypress generated cache and browser profiles
.cypress*
.tmp/
.rtl-cache/

# Ignore logs
*.log

# Ignore user-specific IDE settings
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
